@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 30px;
  margin: 0 auto;
  max-width: 1200px;
}

.shadow-dreambill {
  box-shadow: 0px 4px 16px 0px rgba(8, 92, 96, 0.25);
}
